.container {
    display: inline-flex;
    justify-content: space-between;
    padding: 35px 30px 0 50px;
    border-radius: 16px;
    width: 100%;

    @media screen and (min-width: 767px) and (max-width: 1023px) {
        align-items: center;
    }

    @media(max-width: 960px) {
        padding: 22px 22px 18px 22px;
        flex-direction: column;
        align-items: center;
    }
}
  
.text {
    p {
      font-weight: bold;
      font-size: 28px;
      color: #18191C;

        @media(max-width: 960px) {
            font-size: 24px;
        }
    }
    span {
        font-weight: normal;
        font-size: 18px;
        color: #474A53;

        @media(max-width: 960px) {
            font-size: 14px;
        }
    }
}

.wrapperText {
    display: flex;
    flex-direction: column;
    gap: 20px
}
  
.buttonRound {
    padding: 12px 6px 12px 20px;
    justify-content: flex-start;
    color: #FFF;
    width: 164px;
    height: 44px;

    @media(max-width: 960px) {
        justify-content: center;
        width: 50%;
    }
    @media(max-width: 425px) {
        width: 100%;
    }
}

.button {
    padding: 12px 20px;
    color: #fff;
    min-width: 190px;
    height: auto;
}