.button {
    border-radius: 90px;
    transition: all 0.3s ease;
    background: #3BA9DC;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    position: relative;

    &:disabled {
        opacity: 0.5;
    }
}

.roundDiv {
    position: absolute;
    right: 6px;

    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
  
    span {
      color: #fff; 
      font-weight: bold;
    }
}


// COLOR

.orange {
    background: linear-gradient(to right, #F8E6F8, #FDE9C2);
}

.blue {
    background: #3BA9DC;
}

.yellow {
    background: #FDD400;
}