.fixedDiv {
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 1;

    width: 64px;
    height: 64px;

    background-color: #1B71D7;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: 2px solid #f7f7f8;

    cursor: pointer;
    box-shadow: 4px 10px 10px -4px #00000026;

    opacity: 0;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;

    &.visible {
        opacity: 1;
    }

    @media(max-width: 1440px) {
        right: 15px;
    }

    @media(max-width: 960px) {
        border-radius: 14px;
        width: 44px;
        height: 44px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}