.Aggregation {
    background: linear-gradient(to right, #F8E6F8, #FDE9C2);
}
.Processing {
    background: linear-gradient(to right, #F0F8E6, #C2F6FD);
}
.Purse {
    background: linear-gradient(to right, #F7F8E6, #C2DDFD);
}
.Acquiring {
    background: linear-gradient(to right, #ECF8E6, #EACFFF);
}

.aggrText {
    flex-basis: 46%;
}

.procText {
    flex-basis: 60%;
}

.purText {
    flex-basis: 34%;
}

.acqText {
    flex-basis: 46%;
}