.container {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.wrapper {
    display: flex;
    gap: 72px;
}

.wrapperSocialNetworks {
    display: flex;
    gap: 20px;
}

.containerPhoneEmail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 72px;

    p {
        font-weight: 500;
        font-size: 10px;
        color: #838795;
    }
    a {
        font-weight: 400;
        font-size: 14px;
        color: #474A53;
    }
}

.circleDiv {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F1F2F3;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
}

.wrapperContacts {
    width: 245px;
    display: flex;
    gap: 0px 12px;
    align-items: flex-start;
}

.wrapperText {
    display: flex;
    flex-direction: column;
    gap: 0px 4px;
}

.text {
    color: #7893B0;
    font-weight: 400;
    font-size: 13px;
    a {
        text-decoration: underline;
    }
}