.atm {
   background: #F7F7F8;
   border-radius: 24px;
   border: 1px solid #fff;
   padding: 40px 0 0 50px;
   gap: 10%;
   justify-content: flex-start;
   margin-top: 26px;
   margin-bottom: 26px;

   @media(max-width: 960px) {
      padding: 20px 13px 18px 22px;
      margin-top: 34px;
   }
}

.atmText {
   flex-basis: 53%;
   div {
      margin-bottom: 42px;
   }
   @media(max-width: 960px) {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      div {
         margin-bottom: 0;
      }
      img, button {
         margin: 0 auto;
      }
   }
}

.bgColor {
   background: #fff;
   margin-bottom: 26px;
   @media(max-width: 960px) {
      padding: 20px 13px 18px 22px;
   }
}


.provader {
   flex-basis: 56%;
   div {
      margin-bottom: 46px;
   }
   @media(max-width: 960px) {
      flex-basis: 100%;
      div {
         margin-bottom: 0;
      }
      img {
         margin: 0 auto;
         max-height: 190px;
         max-width: 160px;
      }
      button {
         margin: 0 auto;
      }
   }
}

.card {
   flex-basis: 71%;
   div {
      margin-bottom: 20px;
   }

   @media(max-width: 960px) {
      flex-basis: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      div {
         margin-bottom: 0;
      }
   }
}