.atm {
   background: #F7F7F8;
   border-radius: 24px;
   border: 1px solid #fff;
   padding: 40px 0 0 50px;
   gap: 10%;
   justify-content: flex-start;
   margin-top: 26px;
   margin-bottom: 26px;
}

.bgColor {
   background: #fff;
   margin-bottom: 26px;
}

.atmText {
   max-width: 630px;
}

.provader {
   max-width: 284px;
}

.card {
   max-width: 284px;
}