.container {
   display: flex;
   flex-wrap: wrap;
   gap: 26px;
   margin: 26px 0;

   section:first-child {
      width: 100%;
      background: #F7F7F8;
      border-radius: 24px;
      border: 1px solid #fff;
      padding: 40px 0 0 50px;

      div:first-child {
         flex-basis: 50%;
      }

      button {
         margin-top: 50px;
      }

      @media(max-width: 960px) {
         padding: 20px 13px 18px 22px;
         
         div {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img, button {
               margin: 0 auto;
            }
         }
      }
   }

   section:nth-child(2) {
      width: calc(50% - 13px);
      background: #fff;
      border-radius: 24px;
      padding: 40px 15px 50px 50px;

      img {
         width: 216px;
      }

      div:first-child {
         flex-basis: 51%;
      }

      button {
         margin-top: 47px;
      }
   
      @media(max-width: 960px) {
         padding: 20px 25px 26px 22px;
         width: 100%;

         div {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img, button {
               margin: 0 auto;
            }
         }

         img {
            width: 165px;
            height: 200px;
         }
      }
   }

   section:nth-child(3) {
      width: calc(50% - 13px);
      background: #fff;
      border-radius: 24px;
      padding: 40px 15px 50px 50px;

      img {
         width: 216px;
      }

      h5 {
         @media(min-width: 1220px) {
            display: flex;
            gap: 5px;
         }
         p {
            display: inline;
            color: #3BA9DC;
         }
      }

      div {
         flex-basis: 55%;
      }

      button {
         margin-top: 20px;
      }

      @media(max-width: 960px) {
         padding: 20px 22px 22px 22px;
         width: 100%;
         div {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img, button {
               margin: 0 auto;
            }
         }

         img {
            width: 200px;
            height: 160px;
         }
      }
   }
}