.containerPadding {
    padding: 32px 30px 36px 50px;
    border-radius: 26px;
    border: 1px solid #fff;
    background: #fff;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 960px) {
        padding: 32px 22px;
        gap: 16px;
    }
}

.wrapperText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-weight: bold;
        font-size: 28px;
        color: #18191C;
        @media(max-width: 960px) {
            font-size: 20px;
        }
    }
}

.wrapperButton {
    gap: 4px;
    display: flex;
    span {
        font-weight: 500;
        font-size: 16px;
        color: #7893B0;
    }
}

.text {
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        @media(max-width: 960px) {
            line-height: normal;
            font-size: 12px;
        }
    }
    span {
        font-weight: normal;
        font-size: 14px;
        color: #BABCC4;
    }
}