.container {
    display: none;
    @media(max-width: 960px) {
        display: block;
        box-shadow: -4px 0 30px 0 rgba(21, 43, 71, 0.1);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        margin-top: 45px;
    }
}