.atm {
   background: #F7F7F8;
   border-radius: 24px;
   border: 1px solid #fff;
   padding: 40px 0 0 50px;
   gap: 10%;
   justify-content: flex-start;
   margin-top: 26px;
   margin-bottom: 26px;
}

.atmText {
   max-width: 630px;
}

.provader {
   max-width: 284px;
}

.card {
   max-width: 284px;
}

.newData {
   border-radius: 24px;
   border: 1px solid #fff;
   padding: 32px 32px 36px 50px;
   // width: 52%;
}

.cardMap {
   position: relative; 
   
   &::before {
      content: '';
      border-radius: 16px !important;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #5100A1E5;  
      z-index: -1;  
   }
   
   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('/imgMap.png');
      background-size: cover; 
      z-index: -2; 
   }

   p, span {
      font-weight: 900;
      font-size: 34px;
      line-height: 42.5px;
      color: #FFF;
   }

   button {
      color: #fff;
   }
   
}